<!-- Bottom Nav. -->
</main>
<footer>
  <nav class="text-center text-white p-3 navbar" style="color:white; width: 100%; margin-top:30px ;">
      
      <h6 class=""> &nbsp;&nbsp;&nbsp;  &copy; Copyright 2022. All rights reserved to Mehak kaur</h6>
    </nav>
</footer>